.el-submenu .el-menu-item {
  font-size: 14px;
  padding-left: 50px !important;
  &.is-active {
    background-color: rgba(245, 108, 108, 0.2) !important;
  }
}
// 修改一级菜单样式
.el-submenu {
  &.is-active.is-opened .el-submenu__title {
    background-color: $mainColor !important;
  }
}
.close {
  .el-submenu {
    &.is-opened {
      > .el-submenu__title {
        background-color: $mainColor !important;
      }
    }
  }
}

.el-menu--vertical {
  .el-menu {
    background-color: $mainColor !important;
  }
  .el-menu-item {
    line-height: 56px;
    &:hover {
      background-color: $mainColor !important;
    }
  }
}

/* table 样式 */
div.el-table {
  th {
    font-weight: bold;
    color: #344a5f;
  }
  td {
    font-size: 14px;
  }
}

/* dialog 样式 */
.el-dialog__body {
  padding: 30px 47px !important;
}
.el-dialog__footer {
  text-align: center;
  padding-bottom: 50px;
  .el-button {
    width: 150px;
    margin: 0 11px;
  }
}
/* form 样式 */
.el-form-item {
  margin-bottom: 22px;
}
.el-form {
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
}

/* 菜单右边框 样式 */
.el-menu {
  border-right: none;
}
// 图片 样式
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
