@import "./config.scss";
@import "./normalize.scss";
@import "./elementui.scss";

.pull_left {
  float: left;
}
.pull_right {
  float: right;
}
.black_space_30 {
  height: 30px;
}
.fullWidth {
  width: 100%;
}
